label{
    float: right;
    padding-top: 5px;
}
.float-right{
	float: right;
}
.dataTables_length{
	float: left;
}
.box-login{
	margin-top: 100px;
    border: 1px solid gray;
    padding: 30px;
    width: 40%;
    background: #716f6f;
    border-radius: 10px;
    color: white;
}
.spaceBottom{
	margin-bottom: 20px;
}
.show-img > img{
    width: 15%;
    object-fit: cover;
    height: auto;
}
.spaceTop{
    margin-top: 15px;
}
